<!DOCTYPE html>
<!--/* Thymeleaf와 Thymeleaf Layout을 사용하기 위한 NameSpace 정의 */-->
<html xmlns:th="http://www.thymleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BoardService</title>      
    <link th:href="@{resources/bootstrap/bootstrap.min.css}" rel="stylesheet" >
    <script th:src="@{resources/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{resources/js/formcheck.js}"></script>
  </head>
  <body>
  	<div class="container">
 		<!--/* header */-->
 		<!--/* 경로는 templates을 기준으로 지정하면 됨 */-->
 		<div th:replace="fragments/header::header"></div>	
  		<!--/* content : 요청 마다 변경되는 부분 */-->
  		<div layout:fragment="content"></div>
  		<!--/* footer 
  		<div th:replace="fragments/footer::footer"></div>
  		*/-->
  		<div th:replace="~{fragments/footer::footer}"></div>
	</div>	
    <script th:src="@{resources/bootstrap/bootstrap.bundle.min.js}"></script>
  </body>
</html>