<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springstudy.dhere.mappers.FollowerMapper">









    <insert id="insertFollow" parameterType="Follow">
        INSERT 
        INTO follower(
            follower_email AS followerEmail,
            following_email AS followingEmail)
        VALUES(#{followerEmail}, #{followingEmail})
    </insert>
    
    
	
	<delete id="deleteFollow">
		DELETE 
		FROM follower
		WHERE follower_email = #{followerEmail}
	</delete>
	






</mapper>
