<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootstudy.dhere.mappers.NoticeMapper">

	<select id="getNoticeList" resultType="notice" resultMap="noticeResultMap">
		SELECT * FROM notice
		ORDER BY notice_no DESC
	</select>

	<select id="noticeDetail" resultType="notice" resultMap="noticeResultMap">
		SELECT * FROM notice
		WHERE notice_no = #{noticeNo}
	</select> 

 	<insert id="noticeWrite" parameterType="notice" useGeneratedKeys="true" keyProperty="no">
		INSERT INTO notice(title, content, reg_date, file, picture, email)
		VALUES(#{title}, #{content}, SYSDATE(), #{file}, #{picture}, #{email})
	</insert>
	
	<update id="noticeUpdate" parameterType="notice">
		UPDATE notice
			SET title=#{title}, content=#{content}, reg_date = SYSDATE()
		WHERE notice_no=#{noticeNo}
	</update>
	
	<delete id="noticeDelete" parameterType="int">
	    DELETE FROM notice
	    WHERE notice_no=#{noticeNo}
	</delete>
	
	<resultMap id="noticeResultMap" type="notice">
		<id property="noticeNo" column="notice_no" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="regDate" column="reg_date" />
		<result property="email" column="email" />
		<result property="file" column="file" />
		<result property="picture" column="picture" />
	</resultMap>
	
	
    <!-- 가장 최신 공지사항 가져오기 -->
    <select id="getLatestNotice" resultType="notice" resultMap="noticeResultMap">
        SELECT * FROM notice
        ORDER BY notice_no DESC
        LIMIT 1
    </select>

</mapper>
