<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.springstudy.dhere.mappers.ScrapMapper">

	
<!-- 프로필 -->
	<select id="getScrap" resultType="Scrap">
			SELECT 
				email,
				nickname,
				picture,
				job
				FROM member
			WHERE email = #{email}
	</select>
	
	<select id="isPassCheck" resultType="String">
			SELECT
				pass
			FROM member
			WHERE no = #{no}
	</select>
	
	<!-- 내 게시물 출력-->
	<select id="getScrapList" resultMap="ScrapResultMap">
			SELECT
				sc.email,
				sc.scrap_no AS scrapNo,
				story_no AS storyNo,
				scrap_date AS ScrapNo,
								
				title,
				reg_date AS regDate,
				category_no AS categoryNo,
				read_count AS readCount,
				thank,
				nickname,
				picture,
				tag_name AS tagName,
				category_name AS categoryName
			FROM scrap s
			
	</select>
	
	<select id="scList" resultType="Scrap">
	    SELECT
	    sc.scrap_no,
	    s.story_no,
	    s.title,
	    s.content1,
	    s.content2,
	    s.content3,
	    s.content4,
	    s.email,
	    s.reg_date,
	    s.category_no,
	    s.read_count,
	    s.thank,
	    s.nickname,
	    i.file_name,
	    m.picture,
	    t.tag_name,
	    j.category_name
	    FROM
	    story s
	    JOIN scrap sc
	    ON s.story_no = sc.story_no
	    JOIN
	    image i ON s.story_no = i.story_no
	    JOIN
	    member m ON s.email = m.email
	    JOIN
	    tag_post tp ON s.story_no = tp.story_no
	    JOIN
	    tag t ON tp.tag_no = t.tag_no
	    JOIN
	    job j ON s.category_no = j.category_no
	    WHERE
	    i.image_no = (SELECT MIN(image_no) FROM image WHERE story_no = s.story_no)
	    AND sc.email = #{email}
	    GROUP BY sc.scrap_no
	    ORDER BY sc.scrap_no DESC
	</select>
	
	<select id="scrapList" resultType="Scrap">
	    SELECT
	        email,
	        story_no AS storyNo,
	        scrap_date AS scrapDate
	    FROM scrap
	    <where>
	        <if test='email != null and email != "null"'>
	            AND email = #{email}
	        </if>
	    </where>
	</select>




	
	<insert id="insertScrap" parameterType="Scrap">
        INSERT INTO scrap (email, story_no, scrap_date)
        VALUES (#{email}, #{storyNo}, SYSDATE())
    </insert>
	
	
	<resultMap id="ScrapResultMap" type="Scrap">
		<id property="email" column="email" />
		<result property="scrap_no" column="scrap_no" />
		<result property="storyNo" column="story_no" />
		<result property="scrap_date" column="scrap_date" />
		
		<result property="nickname" column="nickname" />
		<result property="job" column="job" />		
		<result property="picture" column="picture" />
		
	</resultMap>
	
</mapper>