<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.springstudy.dhere.mappers.ScrapMapper">

	
<!-- 프로필 -->
	<select id="getScrap" resultType="Scrap">
			SELECT 
				email,
				nickname,
				picture,
				job
				FROM member
			WHERE email = #{email}
	</select>
	
	<select id="isPassCheck" resultType="String">
			SELECT
				pass
			FROM member
			WHERE no = #{no}
	</select>
	
	<!-- 내 게시물 출력-->
	<select id="getScrapList" resultMap="ScrapResultMap">
			SELECT
				sc.email,
				sc.scrap_no AS scrapNo,
				story_no AS storyNo,
				scrap_date AS ScrapNo,
								
				title,
				reg_date AS regDate,
				category_no AS categoryNo,
				read_count AS readCount,
				thank,
				nickname,
				picture,
				tag_name AS tagName,
				category_name AS categoryName
			FROM scrap s
			
	</select>
	
	<resultMap id="ScrapResultMap" type="Scrap">
		<id property="email" column="email" />
		<result property="scrap_no" column="scrap_no" />
		<result property="storyNo" column="story_no" />
		<result property="scrap_date" column="scrap_date" />
		
		<result property="nickname" column="nickname" />
		<result property="job" column="job" />		
		<result property="picture" column="picture" />
		
	</resultMap>
	
</mapper>