@charset "UTF-8";
/* footer */


#footer_container {
	margin-top : 70px;
	color: white;
	background-color: rgb(49, 108, 244);
	padding: 10px;
}

#footer_logo_sns_number_add {
	text-align: center;
	padding: 30px;
}

#footer_logo_bar {
    width: 50%;
    height: 2px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 25%; /* 가로 중앙 정렬을 위해 추가 */
}

#footer_logo {
    cursor: pointer;
    width: 150px;
    height: auto;
}

#footer_sns_icon {
	cursor: pointer;
	margin-left: 15px; 
	margin-right: 15px;
	width: 50px;
    height: 50px;
}

#footer_icon {
	margin-top: 150px;
	margin-bottom: 150px;
	
}

#footer_category_title {
	font-size: 30px;
	margin-top: 70px;
	margin-bottom: 80px;
}

#footer_category_link_area {
	margin-top: 40px;
	margin-bottom: 40px;
}

#footer_category_link {
	text-decoration: none; /* 밑줄 제거 */
    color: inherit;
    font-size: 15px;
}

#footer_subscribe_icon {
	width: 60px;
    height: 50px;
    
}

#footer_subscribe_title {
	margin-top: 150px;
	font-size: 35px;
	font-weight: bold;
	margin-left: 50px;
}

#footer_subscribe_content {
	margin-top: 20px;
	font-size: 20px;
	margin-left: 50px;
}

#footer_subscribe_input {
	margin-top: 100px;
	margin-left: 50px;
	width: 200px;
}

#footer_subscribe_button {
	margin-top: 30px;
	margin-left: 50px;
}