@charset "UTF-8";

.swiper-container {
	width: 100%;
}

.swiper-slide {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

#postImg, .div1,.div2 {
	max-width: 100%;
	height: auto;
	width: 900px;
	display: block; /* 이미지를 블록 레벨 요소로 설정 */
    margin: auto;
}
.div2{
	max-width: 100%;
	height: auto;
	width: 900px;
	display: block; /* 이미지를 블록 레벨 요소로 설정 */
    margin: auto;
}

.deleteBtn {
	position: absolute;
	top: 0%;
	left: 90%;
}

#addMarkerButton, #finishMarkerButton {
	position: absolute;
	top: 0%;
	left: 0%;
}

div{
	position: relative;
}



/* #marker-container{
    	position:relative;
    } */