@charset "UTF-8";
    	

#infobox {
	width: 600px;
	background-color: white;
	padding:29px;
} 

.infoTab_box{
	display : flex;
	align-items : center;
    margin-bottom: -2.5px;
}

.infoTab_box .infoTab_btn{
	color :  rgb(56, 96, 255);
	font-size :18px;
	font-weight:600;
	border-color : white;
	background-color : white;
	border-radius : 12px 12px 0 0;
	padding: 10px;
	width : 180px;
}

.infoTab_btn:hover{
	 background-color: rgb(56, 96, 255);
	 transition: 0.5s;
	 color: white;
}

.infoContent_box{
	
	padding: 20px;
	border: solid rgb(56, 96, 255) 4px;
	border-radius: 0 0 10px 10px;
}






